<li>
	<div class="booty row col-md-12">
	{{burger_name}} 
	{{#unless devoured}}
	<div class="eat-btn">
		<button class="btn btn-danger eat-it ml-2" data-id="{{id}}">Eat it!</button>
	</div>
	{{/unless}}
	</div>
</li>